.tag-status {
  font-family: "Nunito", sans-serif;
  height: 20px;
  line-height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  // min-width: 80px;
  // max-width: 100px;
  text-align: -webkit-center;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 1px #525b6738;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0;
  font-size: 13px;
  overflow: hidden;
  // margin-left: 15px;
  // cursor: pointer;
  &:hover {
    background-image: linear-gradient(#1a2c4440, #1a2c4414);
  }
}
