.content {
    /*margin-top: 14px;*/
    padding: 5px;
    width: 100%;
}

mat-form-field {
    display: block;
    margin-top: 10px;
}

.content {
    img {
        width: auto;
        height: 50px;
        margin-right: 10px;
    }
}