<html>

<head>
    <style>
        body {
            padding: 10%;
        }
        .card-2 {
            padding: 20px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }
    </style>
</head>

<body>
    <div class="card card-2">
        <div style="width: 99%; background: black; padding: 5px;">
            <img style="background: black;" src="http://www.nextbridge.pk/wp-content/uploads/2016/05/NB-logo-for-NB-website.png" />
        </div>
        <h1>
            <%= title %>
        </h1>
        <p>
            <%= data %>
        </p>
    </div>
</body>
</html>